.gammes-container {
    @include flexbox(space-evenly, false, false, wrap);
    position: relative;
    margin-top: 20px;
    padding: 20px;
    min-height: 300px;

    a {
        @include flexbox(center, false, column);
        @include text-align(center);
        @include text-decoration(none);
        background-color: rgba($background-color_isabeline, 0.8);
        color: $color_salmonpink;
        font-size: $fontsize_para;
        border-radius: $border_radius;
        border: 1px solid $border_taupe;
        text-transform: uppercase;
        width: 22%;
        margin: 1rem;
        padding: 1rem;
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
            transform: translateY(-5px);
        }

        .gamme-item {
            @include flexbox(center, center, column);
            position: relative;
            width: 100%;
            height: 100%;
            
            figure {
                position: relative;
                width: 100%;
                margin: 0;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 300px;
                    object-position: 40% 50%;
                }

                figcaption {
                    @include text-align(center);
                    color: $color_white; 
                    background-color: rgba($background-color_black, 0.5);
                    position: absolute;
                    top: 50%; 
                    left: 50%; 
                    width: 100%;
                    padding: 10px;
                    transform: translate(-50%, -50%); 
                }
            }

            p.description {
                @include text-align(center); 
                font-style: italic;
                margin-top: 10px; 
                padding: 0 10px;
            }
        }
    }
}
