RewriteEngine On

# Redirection pour l'accès à 'accueil'
RewriteRule ^$ index.php?action=accueil [L,QSA]

# Redirection pour l'accès à 'connexion'
RewriteRule ^login$ index.php?action=login [L,QSA]

# Redirection pour l'accès à 'deconnexion'
RewriteRule ^logout$ index.php?action=logout [L,QSA]

# Redirection pour l'accès à 'accueil'
RewriteRule ^home$ index.php?action=home [L,QSA]

# Redirection pour l'accès à 'gammes'
RewriteRule ^gammes$ index.php?action=gammes [L,QSA]

# Redirection pour l'accès à 'gammes'
RewriteRule ^gammes/([0-9]+)$ index.php?action=gammes&id=$1 [L,QSA]

# Redirection pour l'accès à 'mot de passe oublié'
RewriteRule ^forgot-password$ index.php?action=forgot-password [L,QSA]

# Redirection pour l'accès à 'politique de confidentialité'
RewriteRule ^privacy$ index.php?action=privacy [L,QSA]

# Redirection pour l'accès à 'condition generale de vente'
RewriteRule ^general-condition$ index.php?action=general-condition [L,QSA]

# Redirection pour l'accès à 'contact'
RewriteRule ^contact$ index.php?action=contact [L,QSA]

# Redirection pour l'accès à 'admin'
RewriteRule ^admin$ index.php?action=admin [L,QSA]

# Redirection pour l'accès à 'admin/gammes'
RewriteRule ^admin/gammes$ index.php?action=admin&step=gammes

# Redirection pour l'accès à 'admin/gammes/create'
RewriteRule ^admin/gammes/create$ index.php?action=admin&step=gammes&crud=create [L,QSA]

# Redirection pour l'accès à 'admin/gammes/edit'
RewriteRule ^admin/gammes/edit/([0-9]+)$ index.php?action=admin&step=gammes&crud=edit&id=$1 [L,QSA]

# Redirection pour l'accès à 'admin/gammes/delete'
RewriteRule ^admin/gammes/delete/([0-9]+)$ index.php?action=admin&step=gammes&crud=delete&id=$1 [L,QSA]

# Redirection pour l'accès à 'admin/products'
RewriteRule ^admin/products$ index.php?action=admin&step=products [L,QSA]

# Redirection pour l'accès à 'admin/products/create'
RewriteRule ^admin/products/create$ index.php?action=admin&step=products&crud=create [L,QSA]

# Redirection pour l'accès à 'admin/products/edit/([0-9]+)'
RewriteRule ^admin/products/edit/([0-9]+)$ index.php?action=admin&step=products&crud=edit&id=$1 [L,QSA]

# Redirection pour l'accès à 'admin/products/delete/([0-9]+)'
RewriteRule ^admin/products/delete/([0-9]+)$ index.php?action=admin&step=products&crud=delete&id=$1 [L,QSA]

# Redirection pour la suppression d'une image d'un produit spécifique
RewriteRule ^admin/products/deleteImage/([0-9]+)/product/([0-9]+)$ index.php?action=admin&step=products&crud=deleteImage&image_id=$1&product&product_id=$2 [L,QSA]

# Redirection pour l'accès à 'admin/aboutMe'
RewriteRule ^admin/aboutMe$ index.php?action=admin&step=aboutMe