h1 {
  @include text-align(center);
  color: $color_salmonpink;
  margin-top: 60px;
  margin-bottom: 30px;
}

#privacy-policy, #general-conditions-sale{

  section {
      background-color: $background-color_white;
      border-radius: $border_radius;
      border: 1px solid $border_taupe;
      max-width: 1000px;
      margin: 0 auto 20px;
      margin-top: 20px;
      padding: 20px;
      
      p {
        @include text-align(center);
        margin: 0 0 15px;
        line-height: 1.4;

        &.titre {

          strong{
            font-size: $fontsize_h2;
          }
        }
      }
    
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
    
    strong {
      font-size: $fontsize_para;
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
    }
    
    ul {
      list-style: disc;
      margin-left: 20px;
    
      li {
        font-size: $fontsize_para;
        margin-bottom: 10px;
      }
    }
  }    