footer {
    background-color: $background-color_isabeline;
    font-family: $fontpara;
    box-shadow: 5px -5px 17px rgba($box-shadow_black, 0.2);
    margin-top: 30px;
    padding: 2rem;

    .footer-container {
        @include flexbox(space-between,  flex-start);
        width: 100%;
    }

    .footer-logo {
        margin-top: 35px;
        img {
            max-width: 300px; 
            height: auto;
            display: block;
            margin: 0 auto; 
        }
    }

    .footer-info {
        @include text-align(center);

        nav {
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0 0 1rem 0;

                li {
                    margin-bottom: 0.5rem;

                    a {
                        color: $color_black;
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $color_salmonpink;
                        }
                    }
                }
            }
        }

        .social-icons {

            ul {
                @include flexbox(center);
                list-style: none;
                gap: 1rem;
                padding: 0;
                margin: 1rem 0 0 0; 

                li {

                    a {
                    @include text-decoration(none);
                    color: $color_black;
                    font-size: $fontsize_h2;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $color_salmonpink;
                    }
                }
            }
        }
    }
}

    .map-container {
        @include text-align(center);
        max-width: 300px;
        

        iframe {
            border: none;
            width: 100%;
            height: 200px;
        }
    }

    p {
        @include text-align(center);
        font-size: $fontsize_para;
        color: $color_black;
        margin-top: 4.5rem;
    }
}
