h1 {
    @include text-align(center);
    color: $color_salmonpink;
    margin-top: 60px;
    margin-bottom: 30px;
}

.carousel-container {
    @include flexbox ();
    position: relative;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
     
    .carousel-side {
        @include flexbox (center, center, column);
        @include text-align (center);
        background-color: $background-color_isabeline;
        border-radius: $border_radius;
        height: auto;  
        width: 200px; 
        padding: 20px; 
        margin: 30px 0;

        img {
            height: auto;
            width: 100px; 
            margin: 20px 0;
        }

        h3 {
            @include text-align(center); 
            background-color: $background-color_isabeline; 
            border-radius: $border_radius;
            color: $color_salmonpink;
            font-style: italic;
            margin-left: auto; 
            margin-right: auto;
            max-width: 600px; 
            padding: 1rem;
            margin-top: 30px;
            margin: 10px 0;
        }
    } 

    .carousel {
        @include flexbox (false, center);
        border-radius: $border_radius;
        overflow: hidden;
        position: relative;
        flex: 1;
        width: calc(100% - 400px);
        margin: 30px 0;

        .carousel-wrapper {
            @include flexbox ();
            transition: transform 0.5s ease-in-out;

            .carousel-slide {
                min-width: 100%; 

                img {
                    object-fit: cover; 
                    width: 100%;
                    height: 100%; 
                }
            }
        }
    }
}

#contenu {
    @include flexbox (false, center, column);
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    h3 {
        @include text-align(center); 
        background-color: $background-color_isabeline; 
        border-radius: $border_radius;
        color: $color_salmonpink;
        font-style: italic;
        margin-left: auto; 
        margin-right: auto;
        max-width: 600px; 
        padding: 1rem;
        margin-top: 30px;
        margin: 10px 0;
    }

    .content-wrapper {
        @include flexbox (false, stretch);
        background-color: $background-color_isabeline;
        border-radius: $border_radius;
        height: 300px;
        margin-top: 30px;
        gap: 70px; 
        
        .section-container {
            @include flexbox (false, false, row);
            border-radius: $border_radius;

            .text-block {
                @include flexbox (center, false, column);
                @include text-align(left);
                background-color: $background-color_isabeline;
                border-radius: $border_radius;
                max-width: 200px;
                height: 300px;
                padding: 20px;

                h4 {
                    @include text-align(center);
                    color: $color_salmonpink;
                    font-style: italic;
                    margin-bottom: 0.5rem;
                }
            }
    
            .image-container {
                @include flexbox (false, center, column);
                position: relative;
                width: 100%;
                max-width: 500px;
    
                img {
                    object-fit: cover;
                    width: 400px;
                    height: 300px;
    
                }

                button {
                    position: absolute;
                    bottom: 10px;
                }
            }
        }

        #text-middle {
            @include text-align(center);
            color: $color_salmonpink;
            font-style: italic;
            margin-bottom: 0.5rem;
            margin-top: 80px;
        }
    }
}

#products {
    @include flexbox(false, center, column);
    margin-top: 30px;
    width: 100%;
    max-width: 1300px;
    
    h3 {
        @include text-align(center); 
        background-color: $background-color_isabeline; 
        border-radius: $border_radius;
        color: $color_salmonpink;
        font-style: italic;
        margin-left: auto; 
        margin-right: auto;
        max-width: 600px; 
        padding: 1rem;
        margin: 10px 0;
    }

    .products-wrapper {
        @include flexbox(center, false, center);
        margin-top: 30px;
        width: 100%;
        gap: 80px;

        .product {
            background-color: $background-color_isabeline;
            border-radius: $border_radius;
            text-align: center;
            text-decoration: none;
        }
        
        img {
            object-fit: cover;
            width: 300px; 
            height: 300px; 

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}





