.carousel-container {
    @include flexbox ();
    position: relative;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
     
    .carousel-side {
        @include flexbox (center, center, column);
        @include text-align (center);
        background-color: $background-color_isabeline;
        height: auto;  
        width: 200px; 
        padding: 20px; 
        margin: 30px 0;

        img {
            height: auto;
            width: 100px; 
            margin: 20px 0;
        }
    } 

    .carousel {
        @include flexbox (false, center);
        overflow: hidden;
        position: relative;
        flex: 1;
        width: calc(100% - 400px);
        margin: 30px 0;

        .carousel-wrapper {
            @include flexbox ();
            transition: transform 0.5s ease-in-out;

            .carousel-slide {
                min-width: 100%; 

                img {
                    object-fit: cover; 
                    width: 100%;
                    height: 100%; 
                }
            }
        }
    }
}

#contenu {
    @include flexbox (false, center, column);
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    .content-wrapper {
        @include flexbox (false, stretch);
        background-color: $background-color_isabeline;
        height: 300px;
        margin-top: 30px;
        gap: 70px; 
        
        .section-container {
            @include flexbox (false, false, row);
        
            .text-block {
                @include flexbox (center, false, column);
                @include text-align(left);
                background-color: $background-color_isabeline;
                max-width: 200px;
                height: 300px;
                padding: 20px;
            }
    
            .image-container {
                @include flexbox (false, center, column);
                position: relative;
                width: 100%;
                max-width: 500px;
    
                img {
                    object-fit: cover;
                    width: 400px;
                    height: 300px;
    
                }

                button {
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
    }
}




