#menu {
    background-color: $background-color_isabeline;
    box-shadow: 0 5px 17px rgba($box-shadow_black, 0.1);;
    
    a{
        &.logo-site {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 12.5px;
                img {
                    width: auto;
                    height: 75px;
                }
            }
        }
    
    .menu-items {
        @include flexbox(space-between, center);
        height: 100px;

        a {
            @include text-decoration(none);
            color: $color_salmonpink; 
            font-size: $fontsize_para;
            font-family: $fonttitleH1;
            padding: 10px 20px; 
        
            &:hover {
                color:$color_taupe;
            }

            &.logo-site {
                margin-top: 5px;
                img {
                    width: auto;
                    height: 75px;
                }
            }
            
            &.cart-icon {
                i {
                    font-size: $fontsize_icon;
                    margin-right: 8px;
                }
            }
        }
    }
}
