#menu {
    background-color: $background-color_isabeline;
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
    
    a{
        &.logo-site {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 12.5px;
                img {
                    height: 75px;
                    width: auto;
                }
        }
    }
    
    .menu-items {
        @include flexbox(space-between, center);
        height: 100px;

        a {
            text-decoration: none;
            color: $color_salmonpink; 
            font-size: $fontsize_para; 
            padding: 10px 20px; 
            font-family: $fonttitleH1;

            &:hover {
                color:$color_taupe;
            }

            &.logo-site {
                margin-top: 5px;
                img {
                    height: 75px;
                    width: auto;
                }
            }
            
            &.cart-icon {
                i {
                    margin-right: 8px;
                    font-size: $fontsize_icon;
                }
            }
        }
    }
}
