@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 214, 224);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Cinzel Decorative", sans-serif;
  color: rgb(237, 142, 156);
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

h2 {
  font-family: "Cinzel", sans-serif;
  color: rgb(247, 214, 224);
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: "Cinzel", sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 1px solid rgb(253, 247, 242);
  border-radius: 16px;
  background-color: rgb(253, 247, 242);
  color: rgb(237, 142, 156);
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

h4 {
  font-family: "Cinzel", sans-serif;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

p {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: rgb(81, 68, 64);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(81, 68, 64);
}
button:hover {
  background-color: rgb(253, 247, 242);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(81, 68, 64);
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#menu {
  background-color: rgb(253, 247, 242);
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
}
#menu a.logo-site {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12.5px;
}
#menu a.logo-site img {
  height: 75px;
  width: auto;
}
#menu .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#menu .menu-items a {
  text-decoration: none;
  color: rgb(237, 142, 156);
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Cinzel Decorative", sans-serif;
}
#menu .menu-items a:hover {
  color: rgb(81, 68, 64);
}
#menu .menu-items a.logo-site {
  margin-top: 5px;
}
#menu .menu-items a.logo-site img {
  height: 75px;
  width: auto;
}
#menu .menu-items a.cart-icon i {
  margin-right: 8px;
  font-size: 25px;
}

footer {
  background-color: rgb(253, 247, 242);
  padding: 2rem;
  font-family: "Carlito", sans-serif;
  box-shadow: 5px -5px 17px rgba(0, 0, 0, 0.2);
  margin-top: auto;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
footer .footer-logo {
  margin-top: 35px;
}
footer .footer-logo img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
footer .footer-info {
  text-align: center;
}
footer .footer-info nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
footer .footer-info nav ul li {
  margin-bottom: 0.5rem;
}
footer .footer-info nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
footer .footer-info nav ul li a:hover {
  color: rgb(237, 142, 156);
}
footer .footer-info .social-icons ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}
footer .footer-info .social-icons ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  transition: color 0.3s ease;
}
footer .footer-info .social-icons ul li a:hover {
  color: rgb(237, 142, 156);
}
footer .map-container {
  max-width: 300px;
  text-align: center;
}
footer .map-container iframe {
  width: 100%;
  height: 200px;
  border: none;
}
footer p {
  margin-top: 4.5rem;
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

#form-login-register, #form-forgot-password {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 50px;
  border-radius: 16px;
}
#form-login-register .form, #form-forgot-password .form {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 142, 156);
  padding: 30px;
  border-radius: 16px;
}
#form-login-register .form label, #form-forgot-password .form label {
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
#form-login-register .form input, #form-forgot-password .form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(81, 68, 64);
  background-color: rgb(247, 214, 224);
  border-radius: 50px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
#form-login-register .form .forgot-password, #form-forgot-password .form .forgot-password {
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: -10px;
  text-align: center;
  text-decoration: none;
}
#form-login-register .form .forgot-password:hover, #form-forgot-password .form .forgot-password:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
#form-login-register .form p, #form-forgot-password .form p {
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: justify;
}

#privacy-policy section, #general-conditions-sale section {
  margin: 0 auto 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgb(81, 68, 64);
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  max-width: 1000px;
}
#privacy-policy section p.titre strong, #general-conditions-sale section p.titre strong {
  font-size: 22px;
}
#privacy-policy section:last-of-type, #general-conditions-sale section:last-of-type {
  margin-bottom: 40px;
}
#privacy-policy strong, #general-conditions-sale strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}
#privacy-policy ul, #general-conditions-sale ul {
  list-style: disc;
  margin-left: 20px;
}
#privacy-policy ul li, #general-conditions-sale ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

#admin-board {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
#admin-board a {
  width: 30%;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid rgb(81, 68, 64);
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(253, 247, 242);
  color: rgb(237, 142, 156);
}

.gammes-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.gammes-container a {
  width: 30%;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid rgb(81, 68, 64);
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(253, 247, 242);
  color: rgb(237, 142, 156);
  text-transform: uppercase;
}
.gammes-container a .description {
  font-size: 0.8rem;
  text-transform: lowercase;
  margin: 0;
  font-style: italic;
  line-height: 1;
}

.admin-gammes-container {
  padding: 20px;
}
.admin-gammes-container h1 {
  margin-bottom: 20px;
}
.admin-gammes-container .btn {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}
.admin-gammes-container .btn.btn-primary {
  background-color: #000000;
}
.admin-gammes-container .btn.btn-secondary {
  background-color: #000000;
}
.admin-gammes-container .btn.btn-danger {
  background-color: red;
}
.admin-gammes-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.admin-gammes-container table th, .admin-gammes-container table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
.admin-gammes-container table th {
  background-color: #f8f9fa;
}
.admin-gammes-container table td img {
  max-width: 100px;
  height: auto;
}
.admin-gammes-container tr.no-data td {
  text-align: center;
  color: #888;
}/*# sourceMappingURL=index.css.map */