@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 214, 224);
  min-height: 100vh;
}

#body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Cinzel Decorative", sans-serif;
  color: rgb(237, 142, 156);
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  font-family: "Cinzel", sans-serif;
  color: rgb(247, 214, 224);
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  border-radius: 16px;
  background-color: rgb(253, 247, 242);
  font-family: "Cinzel", sans-serif;
  color: rgb(237, 142, 156);
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 1rem;
  border: 1;
  margin-top: 30px;
  margin: 10px 0;
}

h4 {
  text-align: center;
  font-family: "Cinzel", sans-serif;
  font-size: 18px;
  color: rgb(237, 142, 156);
  font-style: italic;
  margin-bottom: 0.5rem;
}

p {
  text-align: center;
  font-family: "Carlito", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin: 0 0 15px;
  line-height: 1.4;
}

button {
  background-color: rgb(81, 68, 64);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid rgb(81, 68, 64);
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: rgb(253, 247, 242);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(81, 68, 64);
}

.alert {
  text-align: center;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 15px;
  margin-bottom: 20px;
}

.alert-success {
  color: rgb(0, 0, 0);
  background-color: rgb(144, 238, 144);
  border-color: rgb(81, 68, 64);
}

#menu {
  background-color: rgb(253, 247, 242);
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
}
#menu a.logo-site {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12.5px;
}
#menu a.logo-site img {
  width: auto;
  height: 75px;
}
#menu .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#menu .menu-items a {
  text-decoration: none;
  color: rgb(237, 142, 156);
  font-size: 16px;
  font-family: "Cinzel Decorative", sans-serif;
  padding: 10px 20px;
}
#menu .menu-items a:hover {
  color: rgb(81, 68, 64);
}
#menu .menu-items a.logo-site {
  margin-top: 5px;
}
#menu .menu-items a.logo-site img {
  width: auto;
  height: 75px;
}
#menu .menu-items a.cart-icon i {
  font-size: 25px;
  margin-right: 8px;
}

.carousel-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.carousel-container .carousel-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(253, 247, 242);
  height: auto;
  width: 200px;
  padding: 20px;
  margin: 30px 0;
}
.carousel-container .carousel-side img {
  height: auto;
  width: 100px;
  margin: 20px 0;
}
.carousel-container .carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1;
  width: calc(100% - 400px);
  margin: 30px 0;
}
.carousel-container .carousel .carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-container .carousel .carousel-wrapper .carousel-slide {
  min-width: 100%;
}
.carousel-container .carousel .carousel-wrapper .carousel-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#contenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#contenu .content-wrapper {
  display: flex;
  align-items: stretch;
  background-color: rgb(253, 247, 242);
  height: 300px;
  margin-top: 30px;
  gap: 70px;
}
#contenu .content-wrapper .section-container {
  display: flex;
  flex-direction: row;
}
#contenu .content-wrapper .section-container .text-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: rgb(253, 247, 242);
  max-width: 200px;
  height: 300px;
  padding: 20px;
}
#contenu .content-wrapper .section-container .image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 500px;
}
#contenu .content-wrapper .section-container .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 300px;
}
#contenu .content-wrapper .section-container .image-container button {
  position: absolute;
  bottom: 10px;
}

footer {
  background-color: rgb(253, 247, 242);
  font-family: "Carlito", sans-serif;
  box-shadow: 5px -5px 17px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  padding: 2rem;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
footer .footer-logo {
  margin-top: 35px;
}
footer .footer-logo img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
footer .footer-info {
  text-align: center;
}
footer .footer-info nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
footer .footer-info nav ul li {
  margin-bottom: 0.5rem;
}
footer .footer-info nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .footer-info nav ul li a:hover {
  color: rgb(237, 142, 156);
}
footer .footer-info .social-icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0 0 0;
}
footer .footer-info .social-icons ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 28px;
  transition: color 0.3s ease;
}
footer .footer-info .social-icons ul li a:hover {
  color: rgb(237, 142, 156);
}
footer .map-container {
  text-align: center;
  max-width: 300px;
}
footer .map-container iframe {
  border: none;
  width: 100%;
  height: 200px;
}
footer p {
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 4.5rem;
}

#form-login-register, #form-forgot-password, #gamme-form-create, #form-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 16px;
  padding: 50px;
  gap: 300px;
}
#form-login-register .form, #form-forgot-password .form, #gamme-form-create .form, #form-contact .form {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 142, 156);
  border-radius: 16px;
  padding: 30px;
}
#form-login-register .form label, #form-forgot-password .form label, #gamme-form-create .form label, #form-contact .form label {
  text-align: center;
  font-family: "Carlito", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
#form-login-register .form input, #form-forgot-password .form input, #gamme-form-create .form input, #form-contact .form input {
  background-color: rgb(247, 214, 224);
  border-radius: 50px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(81, 68, 64);
  padding: 10px;
  margin-bottom: 20px;
}
#form-login-register .form textarea, #form-forgot-password .form textarea, #gamme-form-create .form textarea, #form-contact .form textarea {
  background-color: rgb(247, 214, 224);
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(81, 68, 64);
  width: 500px;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}
#form-login-register .form .forgot-password, #form-forgot-password .form .forgot-password, #gamme-form-create .form .forgot-password, #form-contact .form .forgot-password {
  text-align: center;
  text-decoration: none;
  font-family: "Carlito", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: -10px;
}
#form-login-register .form .forgot-password:hover, #form-forgot-password .form .forgot-password:hover, #gamme-form-create .form .forgot-password:hover, #form-contact .form .forgot-password:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
#form-login-register .form p, #form-forgot-password .form p, #gamme-form-create .form p, #form-contact .form p {
  text-align: justify;
  margin-bottom: 15px;
}
#form-login-register .form img, #form-forgot-password .form img, #gamme-form-create .form img, #form-contact .form img {
  display: block;
  margin: 0 auto;
}

#privacy-policy section, #general-conditions-sale section {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid rgb(81, 68, 64);
  max-width: 1000px;
  margin: 0 auto 20px;
  margin-top: 20px;
  padding: 20px;
}
#privacy-policy section p.titre strong, #general-conditions-sale section p.titre strong {
  font-size: 28px;
}
#privacy-policy section:last-of-type, #general-conditions-sale section:last-of-type {
  margin-bottom: 40px;
}
#privacy-policy strong, #general-conditions-sale strong {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
#privacy-policy ul, #general-conditions-sale ul {
  list-style: disc;
  margin-left: 20px;
}
#privacy-policy ul li, #general-conditions-sale ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

#admin-board {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 50px;
}
#admin-board a {
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  background-color: rgb(253, 247, 242);
  color: rgb(237, 142, 156);
  border: 1px solid rgb(81, 68, 64);
  width: 30%;
  margin: 1rem;
  padding: 1.5rem;
}

.gammes-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  min-height: 300px;
}
.gammes-container a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  background-color: rgba(253, 247, 242, 0.8);
  color: rgb(237, 142, 156);
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid rgb(81, 68, 64);
  text-transform: uppercase;
  width: 22%;
  margin: 1rem;
  padding: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
.gammes-container a:hover {
  transform: translateY(-5px);
}
.gammes-container a .gamme-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
.gammes-container a .gamme-item figure {
  position: relative;
  width: 100%;
  margin: 0;
}
.gammes-container a .gamme-item figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  -o-object-position: 40% 50%;
     object-position: 40% 50%;
}
.gammes-container a .gamme-item figure figcaption {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.gammes-container a .gamme-item p.description {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  padding: 0 10px;
}

.admin-gammes-container {
  padding: 20px;
}
.admin-gammes-container .btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  font-size: 18px;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
}
.admin-gammes-container .btn.btn-primary {
  display: flex;
  justify-content: center;
  background-color: rgb(253, 247, 242);
  margin: 20px 0;
  margin-bottom: 50px;
}
.admin-gammes-container .btn.btn-primary:hover {
  background-color: rgb(237, 142, 156);
  color: rgb(255, 255, 255);
}
.admin-gammes-container .btn.btn-secondary {
  background-color: rgb(253, 247, 242);
}
.admin-gammes-container .btn.btn-secondary:hover {
  background-color: rgb(237, 142, 156);
  color: rgb(255, 255, 255);
}
.admin-gammes-container .btn.btn-danger {
  background-color: rgb(253, 247, 242);
}
.admin-gammes-container .btn.btn-danger:hover {
  background-color: rgb(237, 142, 156);
  color: rgb(255, 255, 255);
}
.admin-gammes-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.admin-gammes-container table th, .admin-gammes-container table td {
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
.admin-gammes-container table th {
  background-color: rgb(237, 142, 156);
  font-size: 20px;
  font-style: italic;
}
.admin-gammes-container table td {
  font-size: 18px;
}
.admin-gammes-container table td img {
  max-width: 100px;
  height: auto;
}
.admin-gammes-container tr.no-data td {
  text-align: center;
}/*# sourceMappingURL=index.css.map */