h1 {
    @include text-align(center);
    color: $color_salmonpink;
    margin-top: 60px;
    margin-bottom: 30px;
}

#admin-board {
    @include flexbox(space-evenly, false, false, wrap);
    margin-top: 20px;
    gap: 50px;
    a {
        @include text-align(center);
        @include text-decoration(none);
        border-radius: $border_radius;
        background-color: $background-color_isabeline;
        color: $color_salmonpink;
        border: 1px solid $border_taupe;
        width: 30%;
        margin: 1rem;
        padding: 1.5rem;
    }
}