    h1 {
    font-family: $fonttitleH1;
    font-size: $fontsize_h1;
    }

    h2 {
    font-family: $fonttitle;
    font-size: $fontsize_h2;
    }

    h3 {    
    font-family: $fonttitle;
    font-size: $fontsize_h3;    
    }

    h4 {
    font-family: $fonttitle;
    font-size: $fontsize_h4;
    }

    p {
    font-family: $fontpara;
    color: $color_black;
    font-size: $fontsize_para;
    }

    button {
    background-color: $background-color_taupe;
    color: $color_white;
    border-radius: $border_radius_input;
    font-size: $fontsize_para;
    border: 1px solid $border_taupe;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
   
    &:hover {
        background-color: $background-color_isabeline;
        color: $color_black;
        border: 1px solid $border_taupe;
    }
}

    .alert {
        @include text-align(center);
        border-radius: $border_radius;
        border: 1px solid transparent;
        padding: 15px;
        margin-bottom: 20px;
    }

    .alert-success {
        color: $color_black;
        background-color: $background-color_green;
        border-color: $border_taupe;
    }

    select {
        background-color: $background-color_minipink;
        font-size: $fontsize_para;
        color: $color_black;
        border: 1px solid $border_taupe;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%; 

        &:focus {
            outline: none;
            border-color: $color_salmonpink;
            box-shadow: 0 0 5px $color_salmonpink;
        }

        option {
            background-color: $background-color_minipink;
            color: $color_black;
        }
    }
