@mixin flexbox($jc:false, $ai:false, $fd:false, $fw:false, $fg:false) {
    display: flex;
    @if $jc { 
        justify-content: $jc; 
    }
    @if $ai { 
        align-items: $ai; 
    }
    @if $fd { 
        flex-direction: $fd;
    }
    @if $fw { 
        flex-wrap: $fw; 
    }
    @if $fg { 
        flex-grow: $fg; 
    }
}

@mixin text-align($alignment) {
    @if $alignment == left or $alignment == right or $alignment == center or $alignment == justify {
      text-align: $alignment;
    } @else {
      @warn "Valeur invalide pour text-align: #{$alignment}";
    }
  }

@mixin text-decoration($decoration) {
    @if $decoration == none or $decoration == underline or $decoration == overline or $decoration == line-through or $decoration == blink {
      text-decoration: $decoration;
    } @else {
      @warn "Valeur invalide pour text-decoration: #{$decoration}";
    }
  }
