* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body {
    @include flexbox(false, false, column);
    background-color: $background-color_minipink;
    min-height: 100vh;
}

#body-content {
    @include flexbox(center, center, column);
}