@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&display=swap');

$fonttitleH1: 'Cinzel Decorative', sans-serif;
$fonttitle: "Cinzel", sans-serif;
$fontpara: "Carlito", sans-serif;

$color_white: rgb(255, 255, 255); 
$color_black: rgb(0, 0, 0);
$color_taupe: rgb(81, 68, 64);
$color_isabeline: rgb(253, 247, 242);
$color_minipink: rgb(247, 214, 224);
$color_salmonpink: rgb(237, 142, 156);
$color_green: rgb(0,128,0);

$background-color_white: rgb(255, 255, 255); 
$background-color_black: rgb(0, 0, 0);
$background-color_taupe: rgb(81, 68, 64);
$background-color_isabeline: rgb(253, 247, 242);
$background-color_minipink: rgb(247, 214, 224);
$background-color_salmonpink: rgb(237, 142, 156);
$background-color_green: rgb(144,238,144);

$border_white: rgb(255, 255, 255);
$border_black: rgb(0, 0, 0);
$border_taupe: rgb(81, 68, 64);
$border_isabeline: rgb(253, 247, 242);
$border_salmonpink: rgb(237, 142, 156);

$box-shadow_black: rgb(0, 0, 0);

$border_radius_input: 50px;
$border_radius: 16px;

$fontsize_h1: 50px;
$fontsize_h2: 28px;
$fontsize_h3: 20px;
$fontsize_h4: 18px;
$fontsize_para: 16px;
$fontsize_icon: 25px;






