h1 {
    @include text-align(center);
    color: $color_salmonpink;
    margin-top: 60px;
    margin-bottom: 30px;
}

#form-login-register, #form-forgot-password, #gamme-form-create, #form-contact, #product-form-container, #admin-about-me {
    @include flexbox(space-evenly, flex-start, column);
    border-radius: $border_radius; 
    padding: 50px;
    gap: 300px;

    .form {
        @include flexbox(false, false, column);
        background-color: $background-color_salmonpink;
        border-radius: $border_radius;
        padding: 30px;

        h2 {
            @include text-align(center);
            color: $color_minipink;
            margin-bottom: 20px;
        }

        label {
            @include text-align(center);
            font-family: $fontpara;
            font-size: $fontsize_h3;
            color: $color_black;
            margin-bottom: 5px;
        }

        input {
            background-color: $background-color_minipink;
            border-radius: $border_radius_input;
            font-size: $fontsize_para;
            color: $color_black;
            border: 1px solid $border_taupe;
            padding: 10px;
            margin-bottom: 20px;
        }

        textarea {
            background-color: $background-color_minipink;
            font-size: $fontsize_para;
            color: $color_black;
            border: 1px solid $border_taupe;
            width: 500px;
            height: 200px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .forgot-password {
            @include text-align(center);
            @include text-decoration(none);
            font-family: $fontpara;
            font-size: $fontsize_h3;
            color: $color_black;
            margin-top: -10px; 
            &:hover {
                @include text-decoration(underline);
                color: $color_white; 
            }
        }

        p {
            @include text-align(justify);
            margin-bottom: 15px;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
}
